<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Completely silence ZooKeeper and Curator -->
    <logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="org.apache.curator" level="ERROR" />

    <!-- Keep your application logs at INFO level -->
    <logger name="com.zkqueue" level="INFO" />
</configuration>